<div class="container">
    <nav class="nav-Bar navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="logo">
            <!-- <img src="/img/clipboard-with-a-list.png" alt=""> -->
        </div>
        <div>
            <a class="margin-right" href="">Home</a>
            <a href="">Products</a>
        </div>
        <div>
            <a class="margin-right" id="logar" routerLink="/login">SigIn</a>
            <a (click)="sigUp()">SignUp</a>
        </div>
    </nav>


</div>
<router-outlet></router-outlet>